*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    padding-block: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.galeria-box{
    height: 100%;
    width: 80%;
    display: grid;
    padding: 12px;
    border-radius: 8px;
    border-color: black;
}

.barra-pesquisa{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 78%;
    height: 4%;
    position: fixed;
    
}

.barra-pesquisa input{
    display: flex;
    width: 80%;
    height: 80%;
}

.barra-pesquisa button{
    width: 20%;
    height: 80%;
}

.container-galeria{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
    justify-content: space-between;
    height: 80%;
    padding-top: 32px;
}

.container-galeria img{
   width: 100%;
   height: 100%;
   padding-block: 8px;
   position: relative;
}